#include "utils.h"


IDB_IMAGE1 BITMAP DISCARDABLE "/Textures/player_textures/player_texture.bmp"

IDB_IMAGE2 BITMAP DISCARDABLE "/Textures/extras_textures/earth_texture.bmp"

IDB_IMAGE3 BITMAP DISCARDABLE "/Textures/weapons_textures/player_shot_texture.bmp"

IDB_IMAGE4 BITMAP DISCARDABLE "/Textures/weapons_textures/explosion_texture.bmp"

IDB_IMAGE5 BITMAP DISCARDABLE "/Textures/player_textures/full_life_texture.bmp"

IDB_IMAGE6 BITMAP DISCARDABLE "/Textures/player_textures/mid_life_texture.bmp"

IDB_IMAGE7 BITMAP DISCARDABLE "/Textures/player_textures/low_life_texture.bmp"

IDB_IMAGE8 BITMAP DISCARDABLE "/Textures/enemies_textures/boss_texture.bmp"

IDB_IMAGE9 BITMAP DISCARDABLE "/Textures/weapons_textures/boss_shot_texture.bmp"

//IDB_IMAGE10 BITMAP DISCARDABLE "/Textures/bkg.bmp"


IDB_IMAGE20 BITMAP DISCARDABLE "/Textures/enemies_textures/A1.bmp"

IDB_IMAGE21 BITMAP DISCARDABLE "/Textures/enemies_textures/A2.bmp"

IDB_IMAGE22 BITMAP DISCARDABLE "/Textures/enemies_textures/A3.bmp"

IDB_IMAGE23 BITMAP DISCARDABLE "/Textures/enemies_textures/A4.bmp"

IDB_IMAGE24 BITMAP DISCARDABLE "/Textures/enemies_textures/A5.bmp"

IDB_IMAGE25 BITMAP DISCARDABLE "/Textures/enemies_textures/A6.bmp"

IDB_IMAGE26 BITMAP DISCARDABLE "/Textures/enemies_textures/A7.bmp"

IDB_IMAGE27 BITMAP DISCARDABLE "/Textures/enemies_textures/A8.bmp"


IDB_IMAGE30 BITMAP DISCARDABLE "/Textures/extras_textures/coin_texture.bmp"

IDB_IMAGE31 BITMAP DISCARDABLE "/Textures/extras_textures/asteroid_texture.bmp"


IDR_WAVE1 RCDATA "/Soundbox/music.wav"

IDR_WAVE2 RCDATA "/Soundbox/explosion.wav"

IDR_WAVE3 RCDATA "/Soundbox/youwin.wav"

IDR_WAVE4 RCDATA "/Soundbox/gameover.wav"

IDR_WAVE5 RCDATA "/Soundbox/eating.wav"

IDR_WAVE6 RCDATA "/Soundbox/BOSS!.wav"

IDR_WAVE7 RCDATA "/Soundbox/coin.wav"

IDR_WAVE8 RCDATA "/Soundbox/impact.wav"



